/* Color and font */
body {
  font-family: Arial;
  background: linear-gradient(to right, #f5afaf, #eb92e1);
}

/* Header style */
h1 {
  color: blue;
  text-align: center;
}

.login-box {
    width: 50%;
    margin: 50px auto;
    /* padding: 20px; */
    background: white;
    border-radius: 2%;
    box-shadow: 0 4px 10px rgb(3, 58, 2);
}

.login-box input {
    width: 93%;
    margin-bottom: 10px;
    padding: 3%;
    border-radius: 2%;
}

.login-box input:focus {
  outline: none;
  border: 2px solid blue;
}

.login-box button {
    width: 100%;
    padding: 5%;
    background: rgb(131, 230, 225);
    border: none;
    border-radius: 5%;
}

.login-box button:hover {
  background: rgb(39, 190, 201);
}